node_modules
.tmp
.csv
.sass-cache
bower_components
client/bower_components
landing/bower_components
landing/css/main.css
landing/jade
landing/vendors
landing/index.html
base_data/
documentation/index.html
documentation/layout.html
database/
.DS_Store
npm-debug.log
/preview/preview.zip./**/.vim-bookmarks
.idea/**/*
.idea
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.vim-bookmarks
config/env/development.js
.idea/
.vscode/
__MACOSX/
uploads
client/app/rulesbkp/
